<div class="container__header">
  <div class="container__header__content">
          <section class="container__header__content__left d-flex">
            <div>
              <img alt="logo" src=".\assets\images\pc.png" />
            </div>
            <div class="container__header__content__left__title">
              <h1>{{ titulo }}</h1>
              <a>{{ sub }}</a>
            </div>
          </section>
          <section class="container__header__content__right d-flex mt-2">
            <a>INSERIR INFO</a>
          </section>
</div>
<div class="container__header__navbar">

</div>
</div>















