.header {
  padding: 5px 20px;
  background-color: #0c6b7c;
  height: 100px;
  color: #feffd6;
  border-bottom: 5px solid #feffd6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
}

.header img {
  max-width: 80px;

}


