.container{
  align-items: left;
  padding: 10px 0px;
  background-color: #222252;
  height: 125px;
  color: #dadbeb;
  border-bottom: 10px solid #cccddb;
  border-radius: 15px;
  font-family: "Audiowide", sans-serif;
}
