.container__footer {
  padding: 10px 0px;
  background-color: #222252;
  height: 100px;
  color: #f8f8fa;
  border-bottom: 2px solid #cccddb;
  border-radius: 5px;
  font-family: "Audiowide", sans-serif;
  margin-bottom: -10px;

  &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;

      h1 {
        margin: 7px 0 3px;
        font-size: 18px;
        font-weight: bold;
      }
      a {
        color: #f8f8fa;
        text-decoration: none;
        font-size: 15px;
        font-weight: normal;
        b {
          color: #c5464c;
        }
      }
      p {
        color: #f8f8fa;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
      }

      img {
          max-width: 100px;
          border-radius: 30px;
      }

      &__right{
        color: #f8f8fa;
        line-height: 40%;
        text-decoration: none;
        font-size: 10px;
        font-weight: light;
        text-align: right;
    }


  }
}




