<div class="container__footer">
  <mat-card class="container__footer__content">
          <section class="container__footer__content__left d-flex">
              <div>
                  <img alt="capi" src=".\assets\images\ufu.jpg" />
              </div>
          </section>
          <section>
            <div class="container__footer__content__right align-self-center">
              <p>Desenvolvido por Lucas Sena Zuza</p>
              <p>e por Leandro Sena Zuza</p>
              <p>Versão[1.0.0]</p>
            </div>
          </section>
  </mat-card>
</div>







