.container__card {

  background-color: #fdfdfd;
  height: 100%;
  width: 100%;

  color: #6b71d1;
  font-family: "Audiowide", sans-serif;
  font-size: large;


  display: flex;
  flex-flow: column;
}
