.contagemveiculos {

  background-color: #ffffff;
  height: 100%;
  width: 100%;

  color: #353747;
  font-family: "Audiowide", sans-serif;
  font-size: 25px;


  display: flex;
  flex-flow: column;

  overflow:scroll;
}
