<div class="container__card">

  <body>
    <h1>Gráficos gerados a partir dos dados coletados</h1>
    <h2>Coletas quantidade</h2>
    <p>Contagem de Carros, Motos e Ônibus</p>
    <p>Foi realizado o algoritmo para contagem de veículos em determinado período de tempo.</p>
    <app-grafico-barra></app-grafico-barra>

    <hr/>

    <h2>Coletas de cor</h2>
    <p>Contagem de 3 cores pré-selecionadas</p>
    <p>Foi realizado o algoritmo para contagem de veículos em determinado período de tempo.</p>
    <app-grafico-pie></app-grafico-pie>

    <hr/>

    <h2>Estimativa de Velocidade Média</h2>
    <p>Estimativa de 3 faixas de velocidade</p>
    <p>Com a utilização do algotimo, foi estimada a velocidade métida dos veículos.</p>
    <app-grafico-velocidade></app-grafico-velocidade>

    <hr/>
    </body>
</div>
