.container {

  background-color: #ffffff;
  height: 1000px;
  width: 800px;

  color: #353747;
  font-family: "Audiowide", sans-serif;
  font-size: large;


  display: flex;
  flex-flow: column;
}


