<div class="container__card">

  <body>
    <h1>Gráficos gerados a partir dos dados coletados</h1>

    <h2>Sobre o Projeto</h2>
    <p>O projeto de Análise de Imagem - Contagem de Veículos utiliza a linguagem de programação Python e a biblioteca OpenCV para realizar a contagem de veículos em um vídeo. O objetivo é extrair informações úteis sobre o fluxo de tráfego em determinadas áreas ou estradas.</p>
    <app-grafico-barra></app-grafico-barra>
    <h2>Como Funciona</h2>
    <p>Para utilizar o projeto, siga os passos abaixo:</p>

    <ol>
      <li>Faça o upload do vídeo que deseja analisar.</li>
      <li>O algoritmo utilizará técnicas de processamento de imagem para detectar os veículos presentes no vídeo.</li>
      <li>A contagem dos veículos será realizada com base nas detecções feitas.</li>
      <li>O resultado da contagem será exibido no final do processo.</li>
    </ol>

    <h2>Requisitos</h2>
    <p>Para executar o projeto em seu ambiente, você precisará ter os seguintes componentes:</p>

    <ul>
      <li>Python 3.x instalado em seu sistema.</li>
      <li>A biblioteca OpenCV instalada. Você pode instalá-la usando o gerenciador de pacotes do Python, pip.</li>
    </ul>

    <h2>Executando o Projeto</h2>
    <p>Siga as instruções abaixo para executar o projeto:</p>

    <ol>
      <li>Baixe o código-fonte do projeto em seu computador.</li>
      <li>Abra um terminal e navegue até o diretório onde você baixou o código.</li>
      <li>Execute o comando <code>python analysis.py</code> para iniciar a análise de imagem.</li>
      <li>Siga as instruções exibidas na tela para fazer o upload do vídeo.</li>
      <li>Aguarde o processamento e a contagem dos veículos.</li>
      <li>O resultado será exibido no final do processo.</li>
    </ol>

    <h2>Conclusão</h2>
    <p>O projeto de Análise de Imagem - Contagem de Veículos é uma ferramenta útil para obter informações sobre o fluxo de tráfego em vídeos. Ele usa técnicas avançadas de processamento de imagem e a biblioteca OpenCV para realizar a contagem de veículos com precisão. Experimente o projeto em seu próprio vídeo e obtenha informações valiosas!</p>
  </body>
</div>
